
<!-- more importent navigation scroll -->
<!-- working -->
<!-- <app-gsap></app-gsap> -->



<!-- "workinh" -->
<!-- <app-slides></app-slides> -->


<!-- <app-example></app-example> -->


<!-- "working 3d content" -->
<!-- <app-content></app-content> -->

<!-- "partaly work"
<app-words></app-words> -->

<!-- scroll and pop up working
<app-infinity></app-infinity>  -->

<!-- "parallex workig"
<app-paralel></app-paralel> -->


<!-- <app-corasal></app-corasal> -->


<app-timeline></app-timeline>

<!-- <app-mountain></app-mountain> -->
<!-- <div class="top">

</div>
<div class="middle">
    <img src="/assets/gsap.svg" 
    alt="image" class="gsaplogo">
</div>
<div class="bottom">
    <img src="/assets/sub.svg" 
    alt="image" class="sublogo">
</div>-->